## Ignore Visual Studio temporary files, build results, and user-specific files ##
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

## Ignore Build folders ##
[Bb]in/
[Oo]bj/

## Ignore Database files ##
*.db
*.sqlite
*.sqlite-journal

## Ignore other temp files ##
thumbs.db
*.log